@page
@model AddressModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Address;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="address-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewAddress"></label>
                <input asp-for="Input.NewAddress" class="form-control" />
                <span asp-validation-for="Input.NewAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewCity"></label>
                <input asp-for="Input.NewCity" class="form-control" />
                <span asp-validation-for="Input.NewCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPostalCode"></label>
                <input asp-for="Input.NewPostalCode" class="form-control" />
                <span asp-validation-for="Input.NewPostalCode" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeAddress" class="btn btn-primary">Change address</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
