@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row jumbotron jumbotron-fluid">
    <div class="col-md-8 offset-md-5">
        <h1 style="color:black">About Us</h1>
    </div>
    
</div>
<section>
    <div class="row align-self-start border border-dark p-2">
        <div class="col d-flex justify-content-center m-2 border border-dark">
            <h2>History</h2>          
        </div>
        <div class="col d-flex justify-content-center m-2 border border-dark">
            <h2>Values</h2>
        </div>
        <div class="col d-flex justify-content-center m-2 border border-dark">
            <h2>Key Players</h2>
        </div>
    </div>
</section>

<style>
    .jumbotron {
        color: white;
        background-image: url("../../wwwroot/images/AboutusMain.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 25vh;
    }
</style>

