@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row jumbotron jumbotron-fluid">
    <div class="col-md-8 offset-md-5">
        <h1 style="color:black">Join Us</h1>
        <p style="color:black">We Make it, You Take it</p>
    </div>
</div>
<h4>Why Join Us?</h4>
<p>We are the #1 leading pizzeria in the world. We have been making pizzas for you since 1961. We are aiming to keep being the best and producing the best quality pizza.
   Want to be part of that team as well? Want to leave a positive impacts on peoples live? Are you passionate about pizzas? If you answered
    Yes to all those questions then you are the one.Send in your cv <a href="mailto:pizzabrospizzeria@gmail.com?subject=Careers">Here.</a></p>
<h4>Job Posting</h4>
<table>
    <tr>
        <th>Position</th>
        <th>Description</th>
        <th>Location</th>
    </tr>
    <tr>
        <td>Chef</td>
        <td>Direct the preparation, seasoning, and cooking of pizzas, burgers, fries, or other foods. Plan and price menu items.</td>
        <td>John Abbott</td>
    </tr>
    <tr>
        <td>Chef assisstant</td>
        <td>Work under the supervision of a senior cook and are responsible for preparing food, plating dishes, storing food, testing recipes, maintaining supplies, and keeping the cooking area clean and organized.</td>
        <td>John Abbott</td>
    </tr>
    <tr>
        <td>Waiter</td>
        <td>Greet and serve customers, provide detailed information on menus, multi-task various front-of-the-house duties and collect the bill.</td>
        <td>John Abbott</td>
    </tr>
    <tr>
        <td>Cashier</td>
        <td>Provide a positive customer experience with fair, friendly, and courteous service. Register sales on a cash register by scanning items, itemize and total customers' purchases. Resolves customer issues and answers questions.</td>
        <td>John Abbott</td>
    </tr>
    <tr>
        <td>Delivery Driver</td>
        <td>Check orders before delivery to ensure that the correct products have been made, and that charges are accurate. Transport items to customers at their desired locations.</td>
        <td>John Abbott</td>
    </tr>
</table>
<style>
    .jumbotron {
        color: white;
        background-image:url("");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vh;
    }
    <!-- https://www.w3schools.com/html/html_tables.asp -- >
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>