@*
    for the collapsible code i got this from here:https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible
*@
@{
}

<button type="button" class="collapsible">Pizza</button>
<div class="content">
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
</div>

<button type="button" class="collapsible">Burgers</button>
<div class="content">
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
</div>

<button type="button" class="collapsible">Burgers</button>
<div class="content">
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
</div>

<button type="button" class="collapsible">Fries</button>
<div class="content">
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjXTe3T6qvZYj3MYgb4sidEWxRoGzDzxy8Hw&usqp=CAU" />

        </div>
    </div>
</div>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i = 0;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            }
            else {
                content.style.display = "block";
            }
        });
    }
</script>

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>
