@model VPWebSolutions.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>RegisterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div data-callback="captchaVerify" class="g-recaptcha" data-sitekey="6LdZCxEdAAAAACZfBlPZpGb7vhSt5pwpKzRoi9DM">
            </div>
            <div class="form-group">
                <input type="reset" value="Reset" class="btn btn-primary" />
                <input type="submit" id="submitButton" value="Send" class="btn btn-primary" disabled />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>

    //Help from https://stackoverflow.com/questions/27902539/how-can-i-validate-google-recaptcha-v2-using-javascript-jquery

    function captchaVerify() {
        var response = grecaptcha.getResponse();


        if (response.length == 0) {
            document.getElementById("submitButton").setAttribute("disabled", "True");
        }
        else {
            document.getElementById("submitButton").removeAttribute("disabled");
        }
    }
</script>

<!--Help from: https://www.thecodehubs.com/address-autocomplete-using-google-place-api-in-net-mvc/-->
<!--NOT WORKING - NEED TO FIX AND IMPLEMENT-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyBv4SX2fFzV7lzMN347na2-3OF1XEGrYxo"></script>
<script>
    $(document).ready(function () {
        var places;
        google.maps.event.addDomListener(window, 'load', function () {
            places = new google.maps.places.Autocomplete(document.getElementById('Address'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var address = '';
                var route = '';
                var postcode = '';
                var locality = '';
                var province = '';
                var place = places.getPlace();
                var AddressComponents = place.address_components;
                for (var i = 0; i < AddressComponents.length; i++) {
                    var componentType = AddressComponents[i].types[0];
                    switch (componentType) {
                        //For Street Number
                        case "street_number": {
                            address = `${AddressComponents[i].long_name} ${address}`;
                            break;
                        }
                        //For Address
                        case "route": {
                            route = AddressComponents[i].short_name;
                            break;
                        }
                        //For PinCode
                        case "postal_code": {
                            postcode = `${AddressComponents[i].long_name}${postcode}`;
                            break;
                        }
                        //For PinCode
                        case "postal_code_prefix": {
                            if (postcode == '') {
                                postcode = AddressComponents[i].long_name;
                            }
                            break;
                        }
                        //For City
                        case "locality": {
                            locality = AddressComponents[i].long_name;
                            break;
                        }
                        //For City
                        case "administrative_area_level_2": {
                            if (locality == '') {
                                locality = AddressComponents[i].long_name;
                            }
                            break;
                        }
                        //For Province
                        case "administrative_area_level_1": {
                            province = AddressComponents[i].short_name;
                            break;
                        }
                    }
                }

                //Set the Textbox values
                $('#Address').val(address + " " + route);
                $('#City').val(locality);
                $('#Province').val(state);
                $('#PostalCode').val(postcode);
            });
        });


    });
</script>
