@model IEnumerable<VPWebSolutions.Data.Entities.MenuItem>

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>
@foreach (var menuItemGrops in Model.GroupBy(i => i.Type))
 {
    <h2>@menuItemGrops.Key</h2>
   
        <div class="row">
            @foreach (var item in menuItemGrops.ToList())
             {
                <div class="col-md-3 ">
                    <div class="border rounded p-1">
                        <img src="~/images/@(item.ImageId).jpg" class="img-fluid vh-50" alt="@item.Name" />
                        <h4>@item.Name</h4>
                        <p id="price_text">Price: @item.Price.ToString("c")</p>
                        <button class="btn btn-primary">Add To Cart</button>
                    </div>
                </div>
             }
        </div>
 }
<script>

</script>

<style>
    html,body {
        background-image: linear-gradient(to right, red, yellow);
    }
    h2 {
        background-image: linear-gradient(to right, red, yellow);
    }
</style>


